.output {
  border: 1px solid black;
  height: 13%;
  width: 86%;
  text-align: right;
  font-size: 150%;
  padding-right: 4%;
  background-color: gray;
}

.container {
  height: 50vh;
  width: 50vw;
}

.box {
  border: 1px solid black;
  height: 19%;
  width: 19%;
  display: inline-block;
  text-align: center;
  font-size: 200%;
  padding-top: 4%;
  margin: 1%;
}

.big {
  width: 42%;
}

.operand {
  background-color: orange;
}

.top {
  background-color: lightgray;
}
